<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>guahao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F651D2B1BC3A9F8005CADDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F651D3F1BC3A9F8005CADDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F651D4A1BC3A9F8005CADDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
