<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>欢迎使用挂号系统</title>
</head>

<body>
<form action="http://192.168.137.1:8000/adddoctor/" method="post">
<p align="center">hospital:<input type="text" name="hospital">
</p>
<p align="center">department:<input type="text" name="department">
</p>
<p align="center">doctor:<input type="text" name="doctor">
</p>
<p align="center"><input type="submit" value="提交"></p>
</form>
</body>
</html>
