<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>欢迎使用挂号系统</title>
</head>

<body>

<div>
<form action="http://192.168.137.1:8000/hospitalcheck/"， method="get">
<p align="center"><input type="submit" value="查看部门"></p>
</form>
</div>
<div>
<form action="http://192.168.137.1:8000/doctorcheck/"， method="get">
<p align="center"><input type="submit" value="查看预约"></p>
</form>
</div>
<div>
<form action="http://192.168.137.1:8000/index/"， method="post">
<p align="center"><input type="submit" value="退出系统"></p>
</form>
</div>

</body>
</html>
