<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>register</title>
<h1 align="center">Register</h1>
</head>
<hr>
<body>

<form id="formtest" name="register" method="post" action="http://192.168.137.1:8000/hregister/" onReset='alert("Please input your message")' onSubmit='alert("Registering")'>
	<p align="center"><span>username:</span><input type="text" name="username" id="input1"></p>
	<p align="center"><span>password:</span><input type="password" name="password" id="input2"></p>
	<p align="center"><span>tel:</span><input type="text" name="tel" id="input3"></p>
	<p align="center"><input type="submit" id="test_post" value="submit">
	<input type="reset" name="Submit2" value="reset">
	</p>
</form>

</body>
</html>
