<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>欢迎使用挂号系统</title>
</head>

<body>
<h1 align="center">添加成功</h1>
<form action="http://192.168.137.1:8000/want/" method="get">
<p align="center"><input type="submit" value="增加下一条记录"></p>
</form>
<form action="http://192.168.137.1:8000/index/" method="get">
<p align="center"><input type="submit" value="返回首页"></p>
</form>
</body>
</html>
